@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0D0E12;
  color: #F4F4F4;
}
.gradient3 {
  position: absolute;
  width: 1200px;
  height: 800px;
  left: -600px;
  top: -400px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
}


.gradient6 {
  position: absolute;
  width: 1200px;
  height: 1200px;
  right: -600px;
  bottom: -300px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 255, 0, 0.1) 0%, rgba(0, 255, 0, 0) 100%);
}

